* {
  font-family: sans-serif;
}

#canvas {
  border: solid 1px #000;
}

.fork {
  position: absolute;
  top: 0;
  right: 0;
  border: 0;
}

img.matrix {
  padding: 10pt 0 0 2pt;
}

fieldset {
  width: 400px;
  float: left;
  margin: 5pt;
}